/*
*LesManifestes
*25/09/17
*LaMez
*/

#lamez-wrapper {
  position: relative;
  overflow: hidden;
  background-color: $deepBlack;
  font-family: 'Roboto', sans-serif;

  #top-hdr {
    position: relative;
    background-color: $deepBlack;
    height: 300px;

    @media(max-width: $mdm){
      padding-top: $pad*7;
      padding-bottom: $pad*2;
    }

    #blue-paint {
      right: -175px;
      top: -120px;
    }

    #yellow-paint {
      left: -700px;
      bottom: -258px;
      width: 1000px;
    }

    .logo, .left-hdr {
      position: absolute;
      top: 0; bottom: 0;
      margin: auto;
      z-index: 2;

      @media(max-width: $mdm){
        position: relative;
      }
    }

    .logo {
      height: 85px;
      width: 250px;
      border: 1px solid $white;
      padding: $pad;
      left: 0;

      @media(max-width: $sml){
        height: 65px;
        width: 200px;
        padding: 0.75em;
        text-align: center;
      }

      h1 {
        color: $white;
        text-transform: uppercase;
        font-size: $pad*3.6;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 9px;
        margin: 0 auto;
        font-weight: 100;
        position: relative;
        top: 10px;

        @media(max-width: $sml){
          font-size: $pad*2.6;
        }

      }
    }

    .left-hdr {
      right: 0;
      height: 85px;
      width: 400px;
      text-align: center;

      @media(max-width: $mdm){
        padding: $pad*2 0;
        width: 100%;
      }

      .icon-list {
        padding: 0;
        margin: 0 0 10px 0;

        .left-icons {
          display: inline-block;
          float: left;
          list-style: none;
          padding: 0 0.75em;
          @media(max-width: $mdm){float: none}

          svg {
            width: 75px;
            @media(max-width: $mdm){width: 65px}
            @media(max-width: $sml){width: 55px}
            @media(max-width: $xsml){width: 45px}
          }

        }
      }
    }

    .hdr-ttl {
      text-transform: uppercase;
      color: $white;
      letter-spacing: 3px;
      font-size: $pad*1.2;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      display: inline-block;
      margin: 10px 0;
    }

  }

  #sct-01 {
    overflow: hidden;
    position: relative;
    z-index: 3;

    .banner-img{
      width: 100%;

      @media(max-width: $sml){min-width: 380px}
    }
  }

  #sct-02 {
    background-color: $deepBlack;

    .sml-row {
      width: 100%;
      margin: $pad*3 auto;
    }

  }

  #sct-03, #sct-05 {
    background-color: $deepBlack;
    .sct-cnt{margin: $pad*7 auto $pad*4 auto}
  }

  #sct-04 {
    background-color: $deepBlack;
    .sct-cnt{ margin: $pad*3 auto $pad*3 auto}

    .btn-arrow {
      position: absolute;
      top: -15em; bottom: 0;
      margin: auto;
      width: 50px;
      height: 50px;

      svg{
        width: 50px;
        height: 50px;
        cursor: pointer;
        path {fill: $white}

        @media(max-width: $sml){
          width: 40px;
          height: 40px;
        }
      }

      &.prev {
        left: -3.5%;
      }
      &.next {
        right: -3.5%;
        svg {@include rotate(180deg)}
      }
    }

    .slider-itm {
      padding: $pad*2;
      @media(max-width: $mdm){
        padding: $pad*4;
      }

      .slider-itm-img {
        width: 100%;
        display: flex;
        margin: auto;
      }

      .event-icon-row {
        padding: $pad 0;
        display: inline-block;
        width: 100%;

        svg{
          float: left;
          width: 45px;
          height: 45px;
        }

        .event-date {
          float: right;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          font-size: $pad;
          position: relative;
          top: 14px;

          .first-of-month {
            position: relative;
            top: -10px; left: -2px;
            font-size: 0.75em;
            text-transform: lowercase;
          }

          &.meet-artist {color: $iconBlue}
          &.jam-color {color: $iconTurquoise}
          &.theater {color: $iconGreen}
          &.living-room {color: $iconYellow}
        }
      }

      .event-invite {
        color: $white;
        font-size: $pad*1.5;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        min-height: 60px;
      }

      .event-desc {
        color: $white;
        font-size: $pad*1.2;
        font-family: 'Roboto', sans-serif;
        padding: $pad 0;
        min-height: 70px;
      }

    }//slider-itm

  }

  #sct-06 {
    background-color: $deepBlack;

    .sct-cnt {margin: auto}

    .event-cat-col {
      width: 65%;
      color: $white;
      margin: auto;

      @media(max-width: $lrg){
        width: 100%;
        margin: $pad*2 auto;
      }

      &.left {float: left}
      &.right {float: right}

      .sml-row {
        width: 475px;
        margin: auto;
        text-align: center;

        @media(max-width: $sml){width: 90%}

        .cat-ttl {
          margin: $pad/2 auto;
        }

        .event-cat-logo {
          width: 200px;
        }

        &.align-top {
          position: relative;
        }
        &#second-cat {top: -130px}
        &#third-cat {top: -260px}
        &#fourth-cat {top: -390px}

        @media(max-width: $lrg){
          &#second-cat, &#third-cat, &#fourth-cat{top: 0}
        }
      }//sml-row

    }

  }

  #btm-ftr {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0; right: 0;
    width: 90%;
    height: 300px;
    margin: auto;

    @media(max-width: $lrg){
      position: relative;
      height: 200px;
      padding-top: $pad*7;
      padding-bottom: $pad*7;
    }

    @media(max-width: $mdm){
      padding-top: $pad*11;
      padding-bottom: $pad*11;
    }

    @media(max-width: $sml){
      padding-top: $pad*12;
      padding-bottom: $pad*13;
    }

    #green-paint {
      right: -420px;
      top: -100px;
    }

    @media(max-width: $lrg){
      #green-paint {
        right: -420px;
        top: -10px;
      }
    }

    #turquoise-paint {
      left: -150px;
      bottom: -110px;
    }

    .ftr-col {
      position: relative;

      .ftr-txt {
        color: $white;
        font-size: $pad*1.2;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        text-decoration: none;
        letter-spacing: 3px;
      }

      &.left {
        float: left;

        .gen-btn {
          width: 175px;
          padding: $pad/2 $pad;
        }

        @media(max-width: $mdm){
          float: none;
          text-align: center;
          .gen-btn {margin: auto;}
        }

      }

      &.right {
        float: right;

        @media(max-width: $mdm){
          float: none;
          text-align: center;
        }

        #maison-logo {
          position: relative;
          width: 250px;
          left: -100px;

          @media(max-width: $lrg){
            margin: auto;
            left: 0;
            padding: $pad*2 0;
          }
        }
      }
    }
  }

  /*
  *generic matter
  */

  .gen-btn {
    width: 100%;
    border: 1px solid $white;
    display: block;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: $pad/2 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
  }

  #icon-green path {
    fill: $iconGreen;
  }

  #icon-turquoise path{
    fill: $iconTurquoise;
  }

  #icon-yellow path{
    fill: $iconYellow;
  }

  #icon-blue path{
    fill: $iconBlue;
  }

  #icon-wave {

    @media(max-width: 515px){
      top: $pad*5.5;
    }

    path {fill: $white}
  }

  #up-and-down-writing {
    path {fill: $white;}
  }

  #left-right-writing {

    path{fill: $white}
  }

  .paint-brush {
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 600px;
  }

  .sct-cnt {
    width: 90%;
    position: relative;
    margin: $pad*7 auto;
    &.top {margin: 0 auto $pad*4 auto}
    &.btm {margin: 0}

    &.table-row {display: table}
  }

  .sub-ttl-graph {
    width: 400px;
    position: absolute;
    left: 0; right: 0;
    top: $pad*2.5;
    margin: auto;
    z-index: 2;

    @media(max-width: $sml){
      width: 90%;
    }
  }

  .sub-ttl {
    font-size: $pad*2;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    letter-spacing: 3px;

    @media(max-width: $sml){
      font-size: $pad*1.5;
    }
  }

  .main-txt {
    color: $white;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5;
  }

}
