.sprite-item {
  position: relative; }
  .sprite-item::before {
    display: block;
    content: "";
    width: 100%; }
  .sprite-item.r-16-9::before {
    padding-top: 56.25%; }
  .sprite-item.r-4-5::before {
    padding-top: 125%; }
  .sprite-item.r-1-1::before {
    padding-top: 100%; }
  .sprite-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: white;
    z-index: 4; }
  .sprite-item img {
    width: 100%; }
  .sprite-item .inner-content {
    width: 20%;
    min-width: 275px;
    margin: 0 auto;
    padding: 20px; }
    @media only screen and (max-width: 1279px) {
      .sprite-item .inner-content {
        width: 20%; } }
    @media only screen and (max-width: 1279px) {
      .sprite-item .inner-content .hero-text {
        font-size: 16px; } }
  .sprite-item > .sprite {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% auto;
    background-position: left; }
    .sprite-item > .sprite.img-2 {
      -webkit-animation: play 1s infinite steps(2);
              animation: play 1s infinite steps(2); }
    .sprite-item > .sprite.img-3 {
      -webkit-animation: play 3s infinite steps(3);
              animation: play 3s infinite steps(3); }
    .sprite-item > .sprite.img-5 {
      -webkit-animation: play-5 2s infinite steps(5);
              animation: play-5 2s infinite steps(5); }
    .sprite-item > .sprite.img-7 {
      -webkit-animation: play 7s infinite steps(7);
              animation: play 7s infinite steps(7); }
    .sprite-item > .sprite.img-12 {
      -webkit-animation: play 6s infinite steps(12);
              animation: play 6s infinite steps(12); }
    .sprite-item > .sprite.img-16 {
      -webkit-animation: play 8s infinite steps(16);
              animation: play 8s infinite steps(16); }

@-webkit-keyframes play-5 {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 125%; } }

@keyframes play-5 {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 125%; } }
