//variables
$imgPath: '../images';

$red: #C32032;
$lightred: #D05764;
$darkred: #8d2332;

$white: #ffffff;
$black: #111111;

$lightgrey: #f9f9f9;
$grey: #666666;
$darkgrey: #333333;
$violet: #aa9ce2;
$orange: #efba56;
$green: #a4a377;
$red: #c12f3c;
$deepBlack: #000;

//iconList
$iconBlue : rgb(51, 156, 221);
$iconGreen: rgb(114, 196, 124);
$iconYellow: rgb(228, 232, 75);
$iconTurquoise: rgb(11, 183, 174);

$fb: #547bbd;
$tw: #78ccf0;
$ig: #5c4038;
$in: #1385c7;
$pt: #ea5655;

$pad: 1em;

$columnWidth: 1400px;
$maxPageWidth: 2020px;


$fontfam_c: 'Cooper Black W01';
$fontfam_c_i: 'Cooper Black W01 Italic';
$fontfam_c_m: 'Cooper BT W01 Medium';
$fontfam_c_bi: 'CooperBTW01-BoldItalic';
$fontfam_c_b: 'Cooper BT W01 Bold';
$fontfam_c_bli: 'CooperBTW01-BlackItalic';
$fontfam_c_blo: 'CooperBTW01-BlackOutlin';
$fontfam_c_mi: 'CooperBTW01-MediumItali';
$fontfam_c_blh: 'CooperBTW01-BlackItHead';
$fontfam_c_bll: 'CooperBTW01-BlackHeadli';
$fontfam_c_bl: 'Cooper BT W01 Black';
$fontfam_c_li: 'CooperBTW01-LightItalic';
$fontfam_c_l: 'Cooper BT W01 Light';

/*
$fontfam: "Slate W01 Light", "Gotham-Light", helvetica, sans-serif;
$fontfam_i: "Slate W01 Italic", "Gotham-Light", helvetica, sans-serif;
$fontfam_l: "Slate W01 Light", "Gotham-Light", helvetica, sans-serif;
$fontfam_b: "Slate W01 Medium", "Gotham-Medium", helvetica, sans-serif;
*/
/*
$fontfam: 'BrandonGrotW01-Regular', Arial, sans-serif;
$fontfam_l: 'BrandonGrotW01-Regular', Arial, sans-serif;
$fontfam_b: 'Brandon Grot W01 Bold', Arial, sans-serif;
$fontfam_exb: 'Brandon Grot W01 Black', Arial, sans-serif;
*/

$fontfam: 'BrandonGrotW01-Regular', Arial, sans-serif;
$fontfam_l: 'BrandonGrotW01-Light', Arial, sans-serif;
$fontfam_b: 'Brandon Grot W01 Bold', Arial, sans-serif;
$fontfam_exb: 'Brandon Grot W01 Black', Arial, sans-serif;

/*
$fontfam_c: 'cooper-black-std';
$fontfam_c_i: 'cooper-black-std';
$fontfam_c_m: 'cooper-black-std';
$fontfam_c_bi: 'cooper-black-std';
$fontfam_c_b: 'cooper-black-std';
$fontfam_c_bli: 'cooper-black-std';
$fontfam_c_blo: 'cooper-black-std';
$fontfam_c_mi: 'cooper-black-std';
$fontfam_c_blh: 'cooper-black-std';
$fontfam_c_bll: 'cooper-black-std';
$fontfam_c_bl: 'cooper-black-std';
$fontfam_c_li: 'cooper-black-std';
$fontfam_c_l: 'cooper-black-std';

$fontfam: 'Gotham A', Helvetica, Arial, sans-serif;
$fontfam_l: 'Gotham A', Helvetica, Arial, sans-serif;
$fontfam_lght: 'Gotham A', Helvetica, Arial, sans-serif;
$fontfam_b: 'Gotham A', Helvetica, Arial, sans-serif;
*/

$font_l: 300;
$font_n: 400;
$font_b: 700;

$xsml: 400px;
$sml: 600px;
$mdm: 800px;
$lrg: 1100px;
$xl: 1800px;


/* MIXINS */
@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absoluteCenter($zIndex) {
  position: absolute;
  z-index: $zIndex;
  top: 0; bottom: 0; right: 0; left: 0;
  margin: auto;
}


@mixin linear-gradient($direction, $color-stops) {
background: $color-stops;
background: -moz-linear-gradient(top, $direction 0%, $color-stops 67%, $color-stops 71%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, $direction), color-stop(67%, rgba(254,236,249,1)), color-stop(71%, rgba(254,235,249,1)));
background: -webkit-linear-gradient(top, $direction 0%, $color-stops 67%, $color-stops 71%);
background: -o-linear-gradient(top, $direction 0%, $color-stops 67%, $color-stops 71%);
background: -ms-linear-gradient(top, $direction 0%, $color-stops 67%, $color-stops 71%);
background: linear-gradient(to bottom, $direction 0%, $color-stops 67%, $color-stops 71%);
}

@mixin border_radius($br) {
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  border-radius: $br;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin animate($string) {
-webkit-animation: $string;
-moz-animation: $string;
-ms-animation: $string;
animation: $string;
}

@mixin box-shadow($top, $left, $blur, $lightpink, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $lightpink;
    -moz-box-shadow:inset $top $left $blur $lightpink;
    box-shadow:inset $top $left $blur $lightpink;
  } @else {
    -webkit-box-shadow: $top $left $blur $lightpink;
    -moz-box-shadow: $top $left $blur $lightpink;
    box-shadow: $top $left $blur $lightpink;
  }
}

@mixin rotate($deg) {
-webkit-transform: rotate($deg);
-moz-transform: rotate($deg);
-ms-transform: rotate($deg);
-o-transform: rotate($deg);
transform: rotate($deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$deg);
}

@mixin transform($sc) {
  -webkit-transform: scale($sc);
  -moz-transform: scale($sc);
  -ms-transform: scale($sc);
  -o-transform: scale($sc);
  transform: scale($sc);
}

@mixin txtFaded() {
  -webkit-transform: translateY(15px) rotateX(20deg);
  -moz-transform: translateY(15px) rotateX(20deg);
  -ms-transform: translateY(15px) rotateX(20deg);
  -o-transform: translateY(15px) rotateX(20deg);
  transform: translateY(15px) rotateX(20deg);

  -webkit-transition: -webkit-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: -moz-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: -ms-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: -o-transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;

  .txtbox .ttl {
    opacity: 0;
  }
}

@mixin txtShown() {
  -webkit-transform: translateY(0px) rotateX(0deg);
  -moz-transform: translateY(0px) rotateX(0deg);
  -ms-transform: translateY(0px) rotateX(0deg);
  -o-transform: translateY(0px) rotateX(0deg);
  transform: translateY(0px) rotateX(0deg);
  opacity: 1;
}


// large
@-moz-keyframes lrgCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 80px; height: 80px }
  100% { width: 0px; height: 0px }
}
@-webkit-keyframes lrgCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 80px; height: 80px }
  100% { width: 0px; height: 0px }
}
@keyframes lrgCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 80px; height: 80px }
  100% { width: 0px; height: 0px }
}

// small
@-moz-keyframes smlCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 65px; height: 65px }
  100% { width: 0px; height: 0px }
}
@-webkit-keyframes smlCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 65px; height: 65px }
  100% { width: 0px; height: 0px }
}
@keyframes smlCrclPulse {
  0% { width: 0px; height: 0px }
  50% { width: 65px; height: 65px }
  100% { width: 0px; height: 0px }
}

// shake
@keyframes shake {
  10% {
    -webkit-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -moz-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -ms-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -o-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    transform: translate3d(-2px, 0, 0) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate3d(2px, 0, 0) rotate(10deg);
    -moz-transform: translate3d(2px, 0, 0) rotate(10deg);
    -ms-transform: translate3d(2px, 0, 0) rotate(10deg);
    -o-transform: translate3d(2px, 0, 0) rotate(10deg);
    transform: translate3d(2px, 0, 0) rotate(10deg);
  }
  30% {
    -webkit-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -moz-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -ms-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    -o-transform: translate3d(-2px, 0, 0) rotate(-10deg);
    transform: translate3d(-2px, 0, 0) rotate(-10deg);
  }
  40%, 50%, 60%, 70%, 80%, 90%, 100% {
    -webkit-transform: translate3d(0px, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0px, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0px, 0, 0) rotate(0deg);
    -o-transform: translate3d(0px, 0, 0) rotate(0deg);
    transform: translate3d(0px, 0, 0) rotate(0deg);
  }
}

// nav enter
@-moz-keyframes popInNav {
  0% { opacity: 0; transform: translateX(1000px); }
	60% { opacity: 1; transform: translateX(-10px); }
	80% { transform: translateX(10px); }
	100% { transform: translateX(0px); }
}
@-webkit-keyframes popInNav {
  0% { opacity: 0; transform: translateX(1000px); }
	60% { opacity: 1; transform: translateX(-10px); }
	80% { transform: translateX(10px); }
	100% { transform: translateX(0px); }
}
@keyframes popInNav {
  0% { opacity: 0; transform: translateX(1000px); }
	60% { opacity: 1; transform: translateX(-10px); }
	80% { transform: translateX(10px); }
	100% { transform: translateX(0px); }
}

// nav tooltip fadein and out
@-moz-keyframes toolTipFade {
  0% { opacity: 0 }
	30% { opacity: 1 }
	90% { opacity: 1 }
	100% { opacity: 0 }
}
@-webkit-keyframes toolTipFade {
  0% { opacity: 0 }
	30% { opacity: 1 }
	90% { opacity: 1 }
	100% { opacity: 0 }
}
@keyframes toolTipFade {
  0% { opacity: 0 }
	30% { opacity: 1 }
	90% { opacity: 1 }
	100% { opacity: 0 }
}
