/*
* Roots | Homepage SweatStyle
* 08/15/17
*/

@import '_variables';
@import '_slick';
@import '_lp';


/* ********************************
* General
******************************** */
* {
  margin: 0; padding: 0;
}

html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}

body {
  background: $white;
  font: $font_n 1em/1.25 $fontfam;
  margin: 0; padding: 0;
}

#header {
  z-index: 99!important;
}

@media screen and (max-width: 959px) and (min-width: 768px) {
  #wrapper {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  #main {
    padding: 0;
  }
}


.hp-row {
  width: 100%; max-width: 100%;
  padding: 0;

  @media (max-width:$lrg) {
    padding: 0 0 $pad;
  }

  @media(max-width: $sml) { padding-bottom: $pad }

  &.short-centered {
    width: 1500px;
    max-width: 96%;
    margin: 0 auto;
    display: block;
  } //  short-centered

  &.half-row {
    width: 1100px;
    max-width:70%;
    margin: 0 auto;
    display: block;
    @media(max-width: $lrg) { width: 80% }
    @media(max-width: $sml) { width: 100% }
  } //  short-centered

  &.nopad { padding: 0 }

  .column {
    width: 100%;
    float: left;
    position: relative;

    &.column-2 {
      width: 16.6667%;

      @media (max-width:$mdm) {
        width: 100%;
        float: none;
      }
    }
    &.column-25 {
      width: 25%;

      @media (max-width:$sml) {
        width: 100%;
        float: none;
      }
    }
    &.column-3 {
      width: 25%;

      @media (max-width:$mdm) {
        width: 50%;
      }

      @media (max-width:$sml) {
        width: 100%;
        float: none;
      }

      &.rts-swt-art-wrap{
        @media(max-width: $sml){
          width: 50%;
          float: left;
        }
      }//rts-swt-art-wrap
    }
    &.column-4 {
      width: 33.3333%;
      @media (max-width:$mdm) {
        width: 100%;
        float: left;
      }
    }
    &.column-5 {
      width: 40%;

      @media (max-width:$sml) {
        width: 100%;
        float: none;
      }

    }
    &.column-6 {
      width: 50%;

      @media (max-width:950px) {
        &.medium-12 { width: 100% }
      }

      @media (max-width:$mdm) {
        width: 100%;
      }

      &.lft {
        width: 50%;
        float: left;

        &.lft-spc {
          width: 49%;
          padding-right: 1%;

          @media (max-width:800px) {
            width: 100%;
            padding-right: 0;
            margin-bottom: 2%;
          }
        }

        @media (max-width:$mdm) {
          float: none;
          width: 100%;
        }
      }
      &.rgt {
        width: 50%;
        float: right;

        &.rgt-spc {
          width: 49%;
          padding-left: 1%;
          @media (max-width:800px) {
            width: 100%;
            padding-left: 0;
          }
        }

        @media (max-width:$mdm) {
          float: none;
          width: 100%;
        }
      }

      @media (max-width:$sml) {
        &.stay-full {
          width: 100%;
          float: none;
          padding: 0;
        }
      }
    }
    &.column-7 {
      width: 60%;

      @media (max-width:$sml) {
        width: 100%;
        float: none;
      }

      &.lft {
        width: 58%;
        padding-right: 2%;

        @media (max-width:$sml) {
          width: 100%;
          float: none;
          padding-right: 0;
        }
      }

      &.rght {
        width: 58%;
        padding-left: 2%;

        @media (max-width:$sml) {
          width: 100%;
          float: none;
          padding-right: 0;
        }
      }

    }
    &.column-75 {
      width: 75%;

      &.lft {
        width: 73%;
        padding-right: 2%;

        @media (max-width:$mdm) {
          width: 100%;
          float: none;
          padding-right: 0;
        }
      }

      &.rght {
        width: 73%;
        padding-left: 2%;

        @media (max-width:$mdm) {
          width: 100%;
          float: none;
          padding-left: 0;
        }
      }
    }
    &.column-8 {
      width: 66.6666%;

      &.lft {
        width: 64.6666%;
        padding-right: 2%;

        @media (max-width:$mdm) {
          width: 100%;
          float: none;
          padding-right: 0;
        }
      }

      &.rght {
        width: 64.6666%;
        padding-left: 2%;

        @media (max-width:$mdm) {
          width: 100%;
          float: none;
          padding-left: 0;
        }
      }

    }

    &.column-10 {
      width: 83.3333%;

      @media (max-width:$mdm) {
        width: 100%;
        float: none;
      }

      &.rght {
        width: 81.3333%;
        padding-left: 2%;

        @media (max-width:$mdm) {
          width: 100%;
          float: none;
          padding-left: 0;
        }
      }
    }

    &.column-12 {
      width: 100%;

      @media (max-width:$sml) {
        width: 100%;
        float: none;
      }
    }
  }
  @include clearfix();
} // row

#rts-hp-wrapper {
  font-size: 18px;
  max-width: $maxPageWidth;
  margin: auto;

  @media(max-width: $sml) { margin-top: 0 }

  a { text-decoration: none}

  b {
    font: {
      weight: $font_b;
      family: $fontfam_b;
    }
  }

  h1,h2,h3,h4,h5 {
    margin: 0; padding: 0;
    font-weight: $font_n;
    font-family: $fontfam;
  }

  img {max-width: 100%;}

  a img { border: none }

  p.ft-text{font-family: $fontfam}

  #rts-newStore-open {
    font-weight: bold;
    font-family: $fontfam;
  }

  p.rst-discl-txt {
    font: $font_n 15px/20px $fontfam;
    color: $black;

    &.center { text-align: center }
    &.right { text-align: center }

    @media(max-width: $mdm) {
      font-size: 1em;
      margin: auto;
      font: $font_n 12px $fontfam;
      text-align: center;
    }
  }

  .plus-btn {
    display: block;
    text-align: center;
    padding: 0;
    cursor: pointer;

    width: 30px; height: 30px;
    border: solid 2px $black;

    @include border_radius(100%);

    font: $font_n 28px/30px $fontfam;
    color: $black;

    background: $white;
    background: rgba($white, 0.85);

    @include transition(all .25s ease-out);

    &:hover {
      background: $black; color: $white;
      @include transition(all .25s ease-in);
    }
  } // plus-btn

  .btn {
    font: $font_b 14px/34px $fontfam_b;
    text-transform: uppercase;
    color: $white;
    padding: $pad/2 $pad*2;
    margin: 0 auto;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;

    background: $red;

    @include transition(background 0.25s ease-out);

    &:hover {
      background: $black;
      @include transition(background 0.25s ease-in);
    }

    &.white {
      color: $black;
      border: solid 1px $black;
      background: $white;
      position: relative;
      width: auto;
      z-index: 5;

      &:hover {
        background: $black;
        color: $white;
        @include transition(background 0.25s ease-in);
      }

    }
  }

  .lp-row {
    position: relative;
    padding: 0;

    max-width: 94%;
    margin: auto;

    @media (max-width: $mdm) {
      max-width: 100%;
      padding: $pad*2 0;
    }

    &.full-width {
      width: 100%; max-width: 100%;
      margin: 0;
    }

    //@include txtFaded();
    &.reveal {
      //@include txtShown();
    }
  } // lp-row

  .col-img-wrap {
    position: relative;
  }

  .sctn-ttl {
    font: $font_n 35px/1 $fontfam;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 $pad/2; padding: 0;
    @media (max-width: $mdm) { font-size: 25px }
    @media (max-width: $sml) { font-size: 16px }

    .tm-sml {
      font: {
        size: 20px;
        family: $fontfam;
      }
      @media (max-width: $sml) { font-size: 12px }
    } // tm-sml

  } // sctn-ttl

  .sml {
    font-style: italic;
    font-size: 0.65em;
  }

  .sctn-desc {
    font: $font_l 24px/1.25 $fontfam_l;
    width: 900px; max-width: 90%;
    color: $black;

    text-align: center;
    margin: 0 auto $pad/2; padding: 0;

    @media(max-width: $sml) {
      font-size: 18px;
    }
  }

  .sctn-sub-ttl {
    font: $font_n 1.25em/1.25 $fontfam_c;
    color: $white;
    text-align: center;
    margin-bottom: $pad/2;

    @media (max-width: $sml) {
      text-align: center;
      font-size: 1em;
    }

    &.center { text-align: center }
    &.right { text-align: right }
  } // sctn-sub-ttl

  .tbl {
    width: 100%; height: 100%;
    display: table;

    .tbl-cell {
      width: 100%; height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }

/* ***** END GENERAL STYLES *****
* DONT EDIT ABOVE
***** END GENERAL STYLES ***** */
//.lp-row { min-height: 100vh }
.lp-row {
  position: relative;

  //min-height: 600px;
  height: auto;
}

.hide-m {
    display: block;
    @media(max-width: $mdm) { display: none }
  }

  .hide-d {
    display: none;
    @media(max-width: $mdm) { display: inline-block }
  }

/***********
Creating Icon LP
************/
  padding-bottom: $pad*4;

  .hp-row {
    &.short-centered {
      display: flex;
      @media (max-width:$mdm) { display: block }
    }
    .hp-row-pic {
      position: relative;
      img { width: 100% }
      .hp-row-caption {
        position: absolute;
        z-index: 2;
        top: 101%; left: 0; right: 0;
        margin: auto;

        width: 100%;
        text-align: center;

        font: $font_n 0.8em/1 $fontfam;
        color: $grey;
      }
    } // hp-row-pic

    .hp-row-txt {
      padding: 0;
      margin: 0 auto;
      width: 476px;
      max-width: 90%;

      @media (max-width:$lrg) {
        margin: 0 auto;
        max-width: 80%;
        width: 100%;
      }

      @media (max-width:$mdm) {
        margin: $pad*3 auto;
      }


      .cr-ttl {
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 $pad/2; padding: 0;
        font-size: 32px;
        font-weight: bold;

        @media(max-width: $lrg) { font-size: 1.5em }
      }
      .wam-quotes {
        text-align: center;
        font-size: 18px;
        width: 98%;
        margin: auto;
        font-weight: 100;
        letter-spacing: 1px;
        @media(max-width: $lrg) { font-size: 0.8em }
      }
      .wam-citation {
        text-align: center;
        font-size: 16px;
        font-weight: 100;
        line-height: 2;
        letter-spacing: 2px;
      }
    } // hp-row-txt
  }
  #hp-spl {
    width: 100%; height: 450px;
    position: relative;

    @media (max-width:$mdm) { height: 320px }

    background: {
      color: $black;
      image: url('../images/wam-spl.jpg');
      repeat: no-repeat;
      position: center center;
      size: cover;
    }

    .spl-wrds {
      @include absoluteCenter(2);
      text-transform: uppercase;
      font-size: 108px;
      text-align: center;
      width: 450px;
      max-width: 50%;
      color: $white;
      display: table;
      font-weight: bold;
      line-height: 0.85;
      letter-spacing: 5px;
    }

    @media(max-width: 1200px){
      .spl-wrds {
        font-size: 88px;
      }
    }

    @media(max-width: $mdm){
      .spl-wrds {
        width: 50%;
        font-size: 60px;
      }
    }

    @media(max-width: $sml){
      .spl-wrds {
        width: 100%;
        font-size: 50px;
        max-width: 75%;
      }
    }

    .spl-split {
      width: 30%; height: 40%;
      display: block;

      position: absolute;
      z-index: 2;
      top: 0; bottom: 0;
      margin: auto;

      @media (max-width:$lrg) { width: 20% }

      &.lft {
        left: 0;
        border-right: solid 1px $white;
      }
      &.rght {
        right: 0;
        border-left: solid 1px $white;
      }

      &:after {
        content: '';
        display: block;
        width: 100%; height: 1px;
        background: $white;

        @include absoluteCenter(2);
        margin: auto;
      }
    } // split
  } // hp-spl

  #hp-first {
    width: 100%;
    background: $lightgrey;
    padding: $pad*4 0;

    @media (max-width:$mdm) { padding: $pad*2 0 }

    .hdr {
      width: 1200px; max-width: 90%;
      margin: auto;
      padding-bottom: 2em;
      text-align: center;

      h2 {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 35px;
        letter-spacing: 4px;
        font-family: $fontfam;
        color: #000;
        font-style: normal;
        line-height: 1.2;
      }
    }

    .sub-hdr {
      width: 600px; max-width: 90%;
      margin: auto;
      text-align: center;

      p {
        text-align: center;
        line-height: 2;
        font-size: 19px;
        font-weight: 100;
        letter-spacing: 1.5;
        line-height: 1.5;
       }
    }

  } // hp-first

  #hp-third{
    .hp-row-txt {
      width: 520px;
      max-width: 90%;

      .wam-quotes {
        letter-spacing: 3.5px;
        font-size: 23px;
        margin-bottom: $pad;
      }

      @media (max-width:$lrg) {
        margin: 0 auto;
        max-width: 80%;
        width: 100%;

        .wam-quotes {
          font-size: 19px;
        }

      }

      @media (max-width:$mdm) {
        margin: $pad*3 auto;
      }

    }
  }

  #hp-fourth {
    .hp-row-txt {
      width: 450px;

      .wam-quotes {
        letter-spacing: 2px;
      }

      @media (max-width:$lrg) {
        margin: 0 auto;
        max-width: 80%;
        width: 100%;
      }

      @media (max-width:$mdm) {
        margin: $pad*3 auto;
      }
    }
  }

  #hp-fifth {
    .hp-row-txt {
      width: 550px;

      .wam-quotes {
        font-size: 22px;
        letter-spacing: 2.5px;

        @media (max-width:950px) {
          font-size: 18px;
        }
      }

      @media (max-width:1200px) {
        margin: 0 auto;
        max-width: 80%;
        width: 100%;
      }

    }
  }

} // #rts-hp-wrapper

/**
sweatstyle
homepage
**/

#rts-hp-four, #rts-mob-worldFamous-swt, #rts-mob-btm-banner {
  .rts-stc-ttl {
    font: $font_b $pad*2 $fontfam;

    @media(max-width: $mdm){
      font-size: 25px;
    }
    @media(max-width: $sml){
      font-size: 22px;
    }
  }
}

.gen-background-img {
  background: {
    color: $lightgrey;
    position: center center;
    repeat: no-repeat;
    attachment: scroll;
    size: cover;
  }
}


.rts-main-sct, .rts-btm-sct {
  padding-top: 3%;
}

#rts-hp-first .rts-mob-img, #rts-hp-second .rts-mob-img, #rts-hp-three .rts-mob-img, #rts-hp-four .rts-mob-img{
  display: none;
  @media(max-width: $mdm){display: block}
}
#rts-hp-first .rts-dsk-img, #rts-hp-second .rts-dsk-img, #rts-hp-three .rts-dsk-img, #rts-hp-four .rts-dsk-img{
  @media(max-width: $mdm){display: none}
}

#rts-hp-four img,#rts-mob-worldFamous-swt img, #rts-mob-btm-banner img{
  display: inline-block !important;
}

.rts-btm-sct {
  width: $columnWidth;
  max-width: 90%;
  margin: $pad*2 auto;

  .rts-btm-row {
    margin: 4% 0;
  }
}

#rts-hp-first, #rts-hp-second ,#rts-hp-three, #rts-hp-four {
  .rts-lrn-btn {
    text-transform: uppercase;
    color: $black;
    font: $font_b 17px $fontfam;

    .lft-arrow {
      width: 30px;
      height: 30px;
      padding: 0 1px;
      position: relative;
      top: 7px;
      path, rect { fill: $black }
      circle { fill: $white }
    }

    &:hover {
      @include animate(colorchange 4s);

      .lft-arrow path, .lft-arrow rect {
        @include animate(svgcolorchange 5s);
      }
    }
  }
}//specific

@-webkit-keyframes colorchange {
     0% {
       color: $white;
     }

     50% {
       color: $black;
     }
   }

@-webkit-keyframes svgcolorchange {
    0% {
      fill: $white;
    }

    50% {
      fill: $black;
    }

    100% {
      fill: $white;
    }
  }

/*** SITE HACKS ***/
#wrapper #main {
  width: 100%;
  padding-bottom: 0;
  @media only screen and (max-width: 767px) {
    padding: 1em 0 0;
  }
} // main

sup {
  @media (max-width: $sml) { font-size: 10px }
}
